body
{
    font-family: 'Special Elite', cursive;
    background:beige
}

.header_div
{
    background: peachpuff;
    color:gray;
}

.header_div p{
    font-family:'Roboto', sans-serif;
    color: black;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: bold;
}
.main_div button{
    font-family:'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 4px;
}
.copy_right_footer {
    position: fixed;
    color:beige;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: gray;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px  rgb(151, 149, 149)
}
